@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fdfdfd;
    font-family: 'Poppins', sans-serif;
}

div {
    grid-area: titulo;
} 

header {
    grid-area: logo;
    display: grid;
    grid-template-areas:
        "logo"
        "titulo"
        "menu"
        "redes"
        "derechos";
}

div a {
    text-decoration: none;
}

div a h1 {
    color: #07133F;
    margin: 0px 24px;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

div h2 {
    color: #09184E;
    margin: 8px;
    padding: 8px;
    text-align: center;
    font-size: 16px;
}

header img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 0px;
    align-items: start;
}

.inicio img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin-left: 16px;
    align-items: start;
}

.about {
    margin-top: 80px;
    font-size: 12px;
}

nav {
    grid-area: menu;
}

nav ul {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    row-gap: 16px;
    justify-items: center;
}

.menu {
    width: 92px;
    height: 24px;
    padding: 48px 16px;
    margin: 8px;
    list-style-type: none;
    display: inline-block;
    border: 2px solid #07133F;
    border-radius: 10px;
    background-color: #99adf3;
    text-align: center;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #07133F;
}

.sobreMi {
    margin: 16px 4px;
    text-align: center;
}

.sobreMi h3 {
    font-weight: bold;
    margin: 8px 0px;
}

.conocimientos {
    display: inline-block;
}

.conocimientos p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 110px;
    height: 100px;
    margin: 8px;
    padding: 4px;
    font-size: 18px;
    border: 2px solid #99adf3;
    border-radius: 5px;
}

.cv {
    width: 150px;
    height: 50px;
    margin: 32px;
    background-color: #fdfdfd;
    border: 2px solid #07133F;
    border-radius: 5px;
}

.cv a {
    text-decoration: none;
    color: #07133F;
    font-weight: bold;
    text-transform: uppercase;
}

.servicios {
    width: 160px;
    height: 160px;
    margin: 32px;
    padding: 14px;
    border: #07133F 2px solid;
    border-radius: 40px;
    text-transform: uppercase;
    display: inline-block;
}

.portfolio {
    list-style-type: none;
}

.portfolio li {
    margin: 52px;
}

.portfolio li a {
    text-decoration: none;
    font-size: 32px;
    width: 300px;
    height: 300px;
    padding: 16px;
    margin: 32px;
    border-radius: 5px;
    background-color: #07133F;
    color: #fdfdfd;
}

#datos {
    background-color: #fdfdfd;
    color: #09184E;
    width: 160px;
    height: 32px;
    padding: 2px 2px 2px 8px;
    border: #99adf3 2px inset;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

#consulta {
    background-color: #fdfdfd;
    color: #99adf3;
    width: 320px;
    height: 320px;
    padding: 2px 2px 2px 8px;
    border: #99adf3 2px inset;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.botonesFormulario {
    width: 120px;
    height: 50px;
    margin: 16px;
    background-color: #fdfdfd;
    border: #07133F 2px solid;
    border-radius: 5px;
    color: #07133F;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

footer {
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    height: 150px;
    margin: 8px;
    grid-area: redes;
}

.redesSociales {
    list-style-type: none;
}

.redes {
    margin: 4px;
}

.redes a {
    text-decoration: none;
    font-size: 12px;
    color: #07133F;
    padding: 24px;
}

footer p {
    font-size: 12px;
    color: #07133F;
    margin: 8px;
}

@media (min-width:768px) {
    body {
        display: grid;
        grid-template-areas:
            "logo titulo "
            "menu menu "
            "menu menu "
            "redes redes "
        ;
        column-gap: 10px;
        row-gap: 10px;
    }

    div {
        margin: 9px;
    }

    div a h1 {
        font-size: 32px;
        
    }

    div h2 {
        font-size: 24px;
    }

    img {
        width: 150px;
        height: 150px;
        border-radius: 140px;
        margin-left: 32px;
    }

    nav {
        margin: 16px;
    }

    .menu {
        width: 117px;
        height: 24px;
        padding: 80px 90px 80px 90px;
        font-size: 20px;
        margin: 16px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer ul {
        display: flex;
        flex-flow: row nowrap;
        text-align: center;
    }

    .redes a {
        font-size: 16px;
    }

    footer p {
        width: 185px;
        height: 16px;
    }
}

@media (min-width:1024px) {
    body {
        display: grid;
        grid-template-areas:
            "logo logo logo logo"
            "titulo titulo titulo titulo"
            "menu menu menu menu"
            "redes redes redes redes"
        ;
        column-gap: 10px;
        row-gap: 10px;
    }

    nav ul {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto;
        row-gap: 16px;
        justify-items: center;
    }

    .menu {
        width: 117px;
        height: 24px;
        padding: 70px 50px 70px 50px;
        margin: 8px;
    }

    footer {
        display: flex;
        flex-flow: column nowrap;
        height: 100px;
    }
}