@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* INICIO */

body {
    background-color: #fdfdfd;
    font-family: 'Poppins', sans-serif;
}

div {
    grid-area: titulo;
}

.inicio {
    grid-area: logo;
    display: grid;
    grid-template-areas:
        "logo"
        "titulo"
        "menu"
        "redes"
        "derechos";
}

div a {
    text-decoration: none;
}

div a h1 {
    color: #07133F;
    margin: 0px 24px;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

div h2 {
    color: #09184E;
    margin: 8px;
    padding: 8px;
    text-align: center;
    font-size: 16px;
}


header img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 0px;
    align-items: start;
}

.inicio img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin-left: 16px;
    align-items: start;
}

nav {
    grid-area: menu;
}

nav ul {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    row-gap: 16px;
    justify-items: center;
}

.menu {
    width: 92px;
    height: 24px;
    padding: 48px 16px;
    margin: 8px;
    list-style-type: none;
    display: inline-block;
    border: 2px solid #07133F;
    border-radius: 10px;
    background-color: #99adf3;
    text-align: center;
    font-size: 1.3rem;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #07133F;
}

footer {
    display: flex;
    flex-flow: column nowrap;
    margin: 8px;
    font-size: 12px;
    color: #07133F;
    grid-area: redes;
}

.redesSociales {
    list-style-type: none;
}

.redes {
    margin: 6px;
}

.redes a {
    text-decoration: none;
    color: #07133F;
}

.redes a i {
    margin-right: 3px;
}

footer p {
    margin: 8px;
    text-align: center;
    font-size: 8px;
}

/* SOBRE MI */

.sobreMi {
    margin: 16px 4px;
    text-align: center;
}

.sobreMi h3 {
    font-weight: bold;
    margin: 8px 0px;
}

.sobreMi div {
    display: inline-block;
}

.sobreMi div p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 110px;
    height: 100px;
    margin: 8px;
    padding: 4px;
    font-size: 18px;
    border: 2px solid #99adf3;
    border-radius: 5px;
}

#cv {
    width: 100px;
    height: 38px;
    background-color: #fdfdfd;
    border: 2px solid #07133F;
    border-radius: 5px;
    margin: 2rem 1rem;
}

#cv a {
    text-decoration: none;
    color: #07133F;
    font-weight: bold;
    text-transform: uppercase;
}

.about {
    font-size: 12px;
    text-align: center;
    margin-top: 80px;
}

.about img {
    width: 200px;
    height: 174px;
}

/* CONTACTO */

.formulario {
    margin-top: 80px;
}

.formulario h2 {
    text-align: center;
    margin: 16px;
}

.novedades {
    display: flex;
    align-items: center;
}

.novedades input {
    margin: 4px;
}

.novedades label {
    margin: 4px;
}

.botonesFormulario {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 8px;
}

.opcionesFormulario {
    width: 80px;
    height: 30px;
    margin: 8px;
    background-color: #fdfdfd;
    border: #99adf3 1px solid;
    border-radius: 6px;
    color: #07133F;
    text-transform: uppercase;
    font-weight: bold;
}

.redesContacto {
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    font-size: 10px;
    padding: 0px;
}

/* NUEVA SECCION */
.socialMedia {
    display: flex;
    flex-flow: column nowrap;
    margin: 8px;
    font-size: 12px;
    color: #07133F;
    grid-area: redes;
}

/* SERVICIOS */

.servicios {
    width: 160px;
    height: 160px;
    margin: 32px;
    padding: 14px;
    border: #07133F 2px solid;
    border-radius: 40px;
    text-transform: uppercase;
    display: inline-block;
}

/* PORTAFOLIO */

.portfolio {
    list-style-type: none;
}

.portfolio li {
    margin: 52px;
}

.portfolio li a {
    text-decoration: none;
    font-size: 32px;
    width: 300px;
    height: 300px;
    padding: 16px;
    margin: 32px;
    border-radius: 5px;
    background-color: #07133F;
    color: #fdfdfd;
}

@media (max-width:1023px) {
    .navbarDesktopImportant {
        display: none;
    }
}

@media (min-width:768px) {
    /* INICIO */

    .paginaPrincipal {
        display: grid;
        grid-template-areas:
            "logo titulo "
            "menu menu "
            "menu menu "
            "redes redes "
        ;
        column-gap: 10px;
        row-gap: 10px;
    }

    .navbarMobileImportant {
        margin: 0px;
        grid-area: navegacionMobile;
    }

    div {
        margin: 9px;
    }

    div a h1 {
        font-size: 32px;
    }

    div h2 {
        font-size: 24px;
    }

    nav {
        margin: 16px;
    }

    .menu {
        width: 117px;
        height: 24px;
        padding: 80px 90px;
        font-size: 20px;
        margin: 16px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer ul {
        display: flex;
        flex-flow: row nowrap;
        text-align: center;
    }

    .redes a {
        font-size: 12px;
    }

    footer p {
        width: 185px;
        height: 16px;
    }

    /* SOBRE MI */

    .sobreMi h3 {
        font-size: 2rem;
        margin: 16px 0px;
        grid-area: titulo;
    }

    .conocimientos1 .conocimientos2 .conocimientos3 .conocimientos4 {
        width: 150px;
        height: 150px;
        margin: 8px;
        padding: 4px;
        font-size: 22px;
    }

    .conocimientos1 {
        grid-area: html;
    }

    .conocimientos2 {
        grid-area: css;
    }

    .conocimientos3 {
        grid-area: adm;
    }

    .conocimientos4 {
        grid-area: bart;
    }

    .about {
        margin-top: 100px;
        font-size: 1.6rem;
    }

    .about img {
        width: 274px;
        height: 235px;
    }

    #cv {
        width: 130px;
        height: 46px;
        margin: 2rem 1rem;
        font-size: 1.4rem;
        grid-area: boton;
    }

    .sobreMi {
        display: grid;
        grid-template-areas:
            "titulo titulo titulo titulo"
            "html css adm bart"
            "boton boton boton boton"
        ;
        gap: 15px;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }

    .navbarLogo {
        margin-left: 16px;
    }

    /* CONTACTO */

    .formulario {
        margin: 120px 120px 0px 120px;
    }

    .formulario h2 {
        margin-bottom: 32px;
    }

    .socialMedia {
        grid-area: social;
    }    
}

@media (min-width:1024px) {

    /* INICIO */

    .paginaPrincipal {
        display: grid;
        grid-template-areas:
            "logo logo logo logo"
            "titulo titulo titulo titulo"
            "menu menu menu menu"
            "redes redes redes redes"
        ;
        column-gap: 10px;
        row-gap: 10px;
    }

    .bodySobreMi {
        display: grid;
        grid-template-areas:
            "header header"
            "conocimientos main"
            "conocimientos main"
            "footer footer";
        column-gap: 5rem;
        row-gap: 2rem;
    }
    


    nav ul {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto;
        row-gap: 16px;
        justify-items: center;
    }

    .menu {
        width: 117px;
        height: 24px;
        padding: 70px 50px;
        margin: 8px;
    }

    .logo {
        margin-left: 32px;
    }

    .items {
        font-size: 14px;
        margin-left: 8px;
    }

    .navbarMobileImportant {
        display: none;
    }

    .navbarDesktopImportant {
        grid-area: header;
        margin: 0px;
    }

    .derechos {
        display: flex;
        flex-flow: column nowrap;
        grid-area: footer;
    }

    /* SOBRE MI */

    .about {
        grid-area: main;
        margin: 100px 32px 0px 32px;
    }

    main img {
        display: none;
    }

    .about p {
        text-align: center;
    }

    .about .section-title {
        margin: 9px 0px;
    }

    .about .row {
        border: 2px #99adf3 dotted;
        margin: 48px 0px;
        padding: 16px;
    }

    .sobreMi {
        background-color: #c4cef5;
        border-radius: 5px;
        display: grid;
        grid-template-areas:
            "titulo titulo"
            "html css"
            "adm bart"
            "boton boton"
        ;
        gap: 15px;
        justify-content: center;
        align-items: center;
        justify-items: center;
        grid-area: conocimientos;
        margin: 90px 8px 0px 32px;
        padding: 8px;
        box-shadow: 0px 3px 10px;
        opacity: 70%;
    }

    .sobreMi div {
        border: 2px solid #07133F;
        border-radius: 4px;
        background-color: #fdfdfd;
    }

    #cv:hover {
        background-color: #07133F;
        transition: 2s;
    }

    #cv a:hover {
        color: #fdfdfd;
    }

    @keyframes animacion {
        0% {
            opacity: 0%;
        }

        50% {
            opacity: 50%;
        }

        100% {
            opacity: 100%;
        }
    }

    .animacion {
        animation-name: animacion;
        animation-timing-function: ease-in;
        animation-duration: 3s;
    }

    /* CONTACTO */

    .formulario {
        width: 500px;
        height: 300px;
        margin: 120px 0px 0px 120px;
        grid-area: formulario;
    }

    .formulario h2 {
        font-size: 3rem;
    }

    .formulario div {
        font-size: 2rem;
    }

    .formulario div input {
        font-size: 1.5rem;
    }

    .bodyContacto {
        display: grid;
        grid-template-areas:
            "header header"
            "formulario social"
            "formulario social"
            "footer footer";
        row-gap: 2rem;
    }

    .socialMedia {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        background-color: #99adf3;
        box-shadow: 5px 3px 10px;
        opacity: 90%;
        margin-right: 32px;
        width: 300px;
        height: 500px;
        grid-area: social;
    }

    .redesContacto {
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .redesContacto .redes a {
        font-size: 16px;
        color: #fdfdfd;
        font-weight: bold;
    }

    .opcionesFormulario {
        width: 100px;
        height: 50px;
        font-size: 12px;
    }

    .opcionesFormulario:hover {
        background-color: #07133F;
        transition: 1s;
        color: #fdfdfd;
    }

    .redes a i {
        margin-right: 8px;
    }

    .redes a:hover{
        color:#07133F;
        transition: 0.7s;
    }

    .derechos p {
        margin-top: 150px;
        font-size: 10px;
    }

}