@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html {
    font-size: 80%;
}

body {
    background-color: #fdfdfd;
    font-family: 'Poppins', sans-serif;
}

header {
    display: grid;
}

header a {
    text-decoration: none;
}

header a h1 {
    color: #07133F;
    margin: 0px 24px 0px 24px;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

header h2 {
    color: #09184E;
    margin: 8px;
    padding: 8px;
    text-align: center;
    font-size: 16px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    justify-self: start;
}

.menu {
    width: 120px;
    height: 120px;
    padding: 14px;
    margin: 80px 12px 40px 12px;
    list-style-type: none;
    display: inline-block;
    border: 2px solid #07133F;
    border-radius: 10px;
    background-color: #99adf3;
}

.menu a {
    text-decoration: none;
    color: #07133F;
    /* para mayuscula */
    text-transform: uppercase;
    font-weight: bold;
}

.sobreMi {
    padding: 16px;
    margin: 16px;
}

iframe {
    display: inline-block;
}

.conocimientos {
    display: inline-block;
}

.conocimientos p {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin: 16px;
    padding: 14px;
    font-size: 24px;
    border: 2px solid #99adf3;
    border-radius: 5px;
}

.cv {
    width: 150px;
    height: 50px;
    margin: 32px;
    background-color: #fdfdfd;
    border: 2px solid #07133F;
    border-radius: 5px;
}

.cv a {
    text-decoration: none;
    color: #07133F;
    font-weight: bold;
    text-transform: uppercase;
}

.servicios {
    width: 160px;
    height: 160px;
    margin: 32px;
    padding: 14px;
    border: #07133F 2px solid;
    border-radius: 40px;
    text-transform: uppercase;
    display: inline-block;
}

.portfolio {
    list-style-type: none;
}

.portfolio li {
    margin: 52px;
}

.portfolio li a {
    text-decoration: none;
    font-size: 32px;
    width: 300px;
    height: 300px;
    padding: 16px;
    margin: 32px;
    border-radius: 5px;
    background-color: #07133F;
    color: #fdfdfd;
}

#datos {
    background-color: #fdfdfd;
    color: #09184E;
    width: 160px;
    height: 32px;
    padding: 2px 2px 2px 8px;
    border: #99adf3 2px inset;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

#consulta {
    background-color: #fdfdfd;
    color: #99adf3;
    width: 320px;
    height: 320px;
    padding: 2px 2px 2px 8px;
    border: #99adf3 2px inset;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.botonesFormulario {
    width: 120px;
    height: 50px;
    margin: 16px;
    background-color: #fdfdfd;
    border: #07133F 2px solid;
    border-radius: 5px;
    color: #07133F;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.redesSociales {
    list-style-type: none;
}

.redes {
    display: inline-block;
}

.redes a {
    text-decoration: none;
    font-size: 12px;
    color: #07133F;
    padding: 16px;
}

footer p {
    font-size: 12px;
    color: #07133F;
}